body {
    font-family: Arial, sans-serif;
    background-color: rgb(238, 236, 230);
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    color: #0056b3;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
    color: #0056b3;
}

.label {
    font-size: 24px;
    font-weight: bold;
    color: orange;
}

.value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Style du slider */
.slider-container {
    margin: 30px 0;
}

input[type="range"] {
    width: 100%;
    height: 8px;
    margin: 20px 0;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #003d82;
}

.footer {
    margin-top: 24px;
    font-size: 14px;
    color: #777;
}